@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ef05d8;
  color: white;
  min-height: 100vh;
  font-family: 'Noto Sans', sans-serif;
}
.contenedor {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-wave {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
header {
  position: fixed;
  top: 10px;
  z-index: 2;
}
.form-acortador {
  display: block;
  margin: auto;
  z-index: 2;
}
.form-acortador input {
  outline: none;
  border: none;
  padding: 10px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  height: 50px;
  width: 500px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.form-acortador button {
  height: 50px;
  border: none;
  background: rgba(0, 0, 0, 0.62);
  padding: 10px;
  border-bottom-right-radius: 14px;
  border-top-right-radius: 14px;
  color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.image-link1 {
  z-index: 1;
  position: fixed;
  top: 15px;
  right: 0;
  animation: movelink 2s ease-in-out infinite;
}
.image-link2 {
  z-index: 1;
  position: fixed;
  bottom: 15px;
  left: 0px;
  animation: movelink 2s ease-in-out infinite;
}
@keyframes movelink {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .image-link1 {
    width: 300px;
    height: 300px;
    top: 5px;
  }
  .image-link2 {
    width: 300px;
    height: 300px;
    bottom: 5px;
  }
}

@media screen and (max-width: 600px) {
  .form-acortador {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-acortador input {
    border-radius: 14px;
    margin-bottom: 24px;
    width: 350px;
  }
  .form-acortador button {
    border-radius: 30px;
    width: 172px;
    height: 52px;
    flex-shrink: 0;
    margin: 0;
  }
}
